@model FFG.Models.RankingViewModels.RankingViewModel

<div class="ranking-container">
    <div class="activities-container">
        <div class="activities-wrapper ranking-wrapper"><h1>Skill Ranking</h1></div>
        @for (int i = 0; i < Model.Users.Count(); i++)
        {
             <div class="box shadow">
                <div class="circle">
                    <div class="col-md-8">@Model.Users.ElementAt(i).UserName</div>
                    <div class="col-md-4">@Model.Points.ElementAt(i)</div>
                </div>
             </div>
        }
        <div class="pagination-body">
            <ul class="pagination">
                <li><a asp-controller="Ranking" asp-action="SkillRanking" asp-route-pageNumber="1">&lt;</a></li>
                @for (int i = 1; i <= Model.NumberOfPages; i++)
                {
                    @if(i == Model.PageNumber)
                    {
                         <li><a class="active" asp-controller="Ranking" asp-action="SkillRanking" asp-route-pageNumber="@i">@i</a></li>
                    }
                    else
                    {
                         <li><a asp-controller="Ranking" asp-action="SkillRanking" asp-route-pageNumber="@i">@i</a></li>
                    }
                }
                <li><a asp-controller="Ranking" asp-action="SkillRanking" asp-route-pageNumber="@Model.NumberOfPages">&gt;</a></li>
            </ul>
        </div>
    </div>
</div>

